<div class="adventure-avto">
    <div class="adventure-container">
        <div class="adventure-avto__row">
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-car.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Легковые<br>
                    автомобили
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-byskl.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Мотоциклы
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-microavt.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Микроавтобусы
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-car.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Легковые<br>
                    автомобили
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-byskl.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Мотоциклы
                </div>
            </div>

        </div>

        <div class="adventure-avto-title">
            Мы перевозим автомобили до 5 тонн
        </div>

        <div class="adventure-avto__row">
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-miniven.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Легковые<br>
                    автомобили
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-djip.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Мотоциклы
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-traktor.png" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Микроавтобусы
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-car.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Легковые<br>
                    автомобили
                </div>
            </div>
            <div class="adventure-avto__row-box">
                <div class="adventure-box__inner">
                    <img class="adventure-avto__box-img" src="./assets/img/adventure-byskl.jpg" alt="">
                </div>
                <div class="adventure-avto__box-text">
                    Мотоциклы
                </div>
            </div>

        </div>
    </div>
</div>