<footer class="adventure-footer">
    <div class="adventure-container">
        <div class="adventure-footer__wrapp">
            <div class="adventure-footer__wrapp-content">
                *Указано среднее время подачи эвакуатора по городу Кирову. Не является гарантированным.
            </div>
        </div>
        <div class="adventure-footer__wrapper">
            <img class="adventure-footer-img" src="./assets/img/adventure-fotter.png" alt="">
            <div class="adventure-footer__wrapper-text">
                ЭВАКУАТОР АВТОХЕЛП 43 КИРОВ
            </div>
        </div>
    </div>
</footer>