<div class="adventure-info">
    <div class="adventure-container">
        <div class="adventure-info__wrapp">
            <div class="adventure-info__inner">
                <div>
                    <div class="adventure-info__inner-title">
                        Автоэвакуатор Киров, Кировская область
                    </div>
                    <div class="adventure-info__inner-text">
                        Оперативная подача эвакуатора в Кирове и безопасная транспортировка автомобиля – вот главная
                        задача
                        компании "Автохелп43". И уже несколько лет мы успешно справляемся с этой миссией в Кирове,
                        Кировской
                        области и по всей территории России. Наша служба эвакуации автомобилей оперативно реагирует на
                        вызов
                        в любое время суток. ДТП и поломки автомобиля могут произойти с каждым, поэтому мы работает для
                        Вас
                        круглосуточно и всегда готовы прийти на помощь водителям.
                    </div>
                </div>
                <div>
                    <div class="adventure-info__table-title">
                        Цены на услуги автоэвакуатора
                    </div>
                    <div class="adventure-info__table">
                        <div class="adventure-info__table-row">
                            <div class="adventure-info__row-col">
                                Почасовая оплата (Киров, районы)
                            </div>
                            <div class="adventure-info__row-col-2">
                                от 1000 рублей / час
                            </div>
                        </div>
                        <div class="adventure-info__table-row">
                            <div class="adventure-info__row-col">
                                Межгород от 100 км
                            </div>
                            <div class="adventure-info__row-col-2">
                                от 20 рублей / км
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="adventure-info__inner">
                <div class="adventure-info__inner-title">
                    Почему стоит выбрать нас?
                </div>
                <ul class="adventure-info__list">
                    <li class="adventure-info__list-inner">
                        Доступная стоимость услуг автоэвакуатора
                    </li>
                    <li class="adventure-info__list-inner">
                        Грузоподъёмность до 5 тонн
                    </li>
                    <li class="adventure-info__list-inner">
                        Возможность поездок на дальние расстояния
                    </li>
                    <li class="adventure-info__list-inner">
                        Территория работы: Киров, область, Россия
                    </li>
                    <li class="adventure-info__list-inner">
                        Гидравлическое устройство
                    </li>
                    <li class="adventure-info__list-inner">
                        Работаем 24 часа в сутки 7 дней в неделю
                    </li>
                    <li class="adventure-info__list-inner">
                        Быстрое прибытие эвакуатора: 20 минут *
                    </li>
                    <li class="adventure-info__list-inner">
                        Опыт работы всех сотрудников более 5 лет
                    </li>
                    <li class="adventure-info__list-inner">
                        Большой автопарк под разные задачи
                    </li>
                    <li class="adventure-info__list-inner">
                        Заботливое отношение к Вашему автомобилю
                    </li>
                    <li class="adventure-info__list-inner">
                        Индивидуальный подход и консультации
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>