<div class="adventure-info">
    <div class="adventure-container">
        <div class="adventure-info__wrapp">

            <div class="adventure-info__inner adventure-info-news__inner">
                <div class="adventure-info__inner-title">
                    Новости и полезная информация
                </div>


                <div class="adventure-news__wrapp">
                    <div class="adventure-news__wrapp-head">
                        <div class="adventure-news__head-color"></div>
                        <a href="#" class="adventure-news__head-link">
                            Эвакуатор | AutoHelp43 | 73-01-03
                        </a>
                        <div class="adventure-news__head-content">
                            Киров | Область | Межгород | Круглосуточно
                        </div>
                    </div>
                    <a class="adventure-news__info-link" href='#'>
                        2,848 members
                    </a>
                    <div class="adventure-news__wrapp-body">

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                        <div class="adventure-news__body-box">
                            <a class="adventure-news__data" href="#">
                                Yesterday at 11:27
                            </a>
                            <div class="adventure-news__place">
                                КИРОВ, ОБЛАСТЬ, МЕЖГОРОД, КРУГЛОСУТОЧНО!
                            </div>

                            <ul class="adventure-news__info">
                                <li class="adventure-new__info-inner">
                                    Подача эвакуатора от 20 минут
                                </li>
                                <li class="adventure-new__info-inner  adventure-new__info-inner-2">
                                    Звоните: +7 (8332) 73-01-03
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-3">
                                    24 часа в сутки, 7 дней в неделю!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-4">
                                    Поможем в любой трудной ситуации!
                                </li>
                                <li class="adventure-new__info-inner adventure-new__info-inner-5">
                                    Добавляйтесь в группу, чтобы всегда быть на связи!
                                </li>
                            </ul>

                            <div class="adventure-news__list-link">
                                <a href="#">
                                    #эвакуаторкиров
                                </a>
                                <a href="#">
                                    #скораяавтомобильнаяпомощь
                                </a>
                                <a href="#">
                                    #автоэвакуатор
                                </a>
                                <a href="#">
                                    #эвакуацияавто
                                </a>
                                <a href="#">
                                    #помощьавто
                                </a>
                                <a href="#">
                                    #autohelp
                                </a>
                                <a href="#">
                                    #autohelp43
                                </a>
                            </div>

                            <a href="./assets/img/adventure-news.jpg" class="adventure-news__box-foto">
                                <img class="adventure-news__foto-img" src="./assets/img/adventure-news.jpg" alt="">
                            </a>
                        </div>

                    </div>

                    <a href="#" class="adventure-news-btn">
                        Follow on VK
                    </a>

                </div>

            </div>
            <div class="adventure-info__news-fix">
                <div class="adventure-info__inner">
                    <div class="adventure-info__inner-title">
                        Почему стоит выбрать нас?
                    </div>
                    <ul class="adventure-info__list">
                        <li class="adventure-info__list-inner">
                            Доступная стоимость услуг автоэвакуатора
                        </li>
                        <li class="adventure-info__list-inner">
                            Грузоподъёмность до 5 тонн
                        </li>
                        <li class="adventure-info__list-inner">
                            Возможность поездок на дальние расстояния
                        </li>
                        <li class="adventure-info__list-inner">
                            Территория работы: Киров, область, Россия
                        </li>
                        <li class="adventure-info__list-inner">
                            Гидравлическое устройство
                        </li>
                        <li class="adventure-info__list-inner">
                            Работаем 24 часа в сутки 7 дней в неделю
                        </li>
                        <li class="adventure-info__list-inner">
                            Быстрое прибытие эвакуатора: 20 минут *
                        </li>
                        <li class="adventure-info__list-inner">
                            Опыт работы всех сотрудников более 5 лет
                        </li>
                        <li class="adventure-info__list-inner">
                            Большой автопарк под разные задачи
                        </li>
                        <li class="adventure-info__list-inner">
                            Заботливое отношение к Вашему автомобилю
                        </li>
                        <li class="adventure-info__list-inner">
                            Индивидуальный подход и консультации
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>