<div class="adventure-info">
    <div class="adventure-container">
        <div class="adventure-info__wrapp">
            <div class="adventure-order__inner">
                <div class="adventure-info__inner">
                    <div class="adventure-info__inner-title">
                        Как вызвать эвакуатор в Кирове?
                    </div>
                    <ol class="adventure-order__list">
                        <li class="adventure-order__list-inner">
                            Набрать номер телефона: (8332) 73-01-03 или 8-922-993-01-03;
                        </li>
                        <li class="adventure-order__list-inner">
                            Назвать марку и модель Вашего автомобиля;
                        </li>
                        <li class="adventure-order__list-inner">
                            Сообщить адрес, по которому автомобиль находится сейчас, и куда его необходимо
                            транспортировать;
                        </li>
                        <li class="adventure-order__list-inner">
                            Описать характер поломки, что случилось с автомобилем;
                        </li>
                        <li class="adventure-order__list-inner">
                            Насколько срочно или на какое время/дату Вам нужен эвакуатор;
                        </li>
                        <li class="adventure-order__list-inner">
                            Сообщить дополнительную информацию, если таковая имеется.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="adventure-info__inner">
                <div class="adventure-info__inner-title">
                    Почему стоит выбрать нас?
                </div>
                <ul class="adventure-info__list">
                    <li class="adventure-info__list-inner">
                        Доступная стоимость услуг автоэвакуатора
                    </li>
                    <li class="adventure-info__list-inner">
                        Грузоподъёмность до 5 тонн
                    </li>
                    <li class="adventure-info__list-inner">
                        Возможность поездок на дальние расстояния
                    </li>
                    <li class="adventure-info__list-inner">
                        Территория работы: Киров, область, Россия
                    </li>
                    <li class="adventure-info__list-inner">
                        Гидравлическое устройство
                    </li>
                    <li class="adventure-info__list-inner">
                        Работаем 24 часа в сутки 7 дней в неделю
                    </li>
                    <li class="adventure-info__list-inner">
                        Быстрое прибытие эвакуатора: 20 минут *
                    </li>
                    <li class="adventure-info__list-inner">
                        Опыт работы всех сотрудников более 5 лет
                    </li>
                    <li class="adventure-info__list-inner">
                        Большой автопарк под разные задачи
                    </li>
                    <li class="adventure-info__list-inner">
                        Заботливое отношение к Вашему автомобилю
                    </li>
                    <li class="adventure-info__list-inner">
                        Индивидуальный подход и консультации
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>