<main class="adventure-main">
    <div class="adventure-container">
        <div class="adventure-main__wrapp">
            <div class="adventure-main__wrapp-col">
                <img class="adventure-main__wrapp-img" src="./assets/img/adventure-main.png" alt="">
                <div class="adventure-main__wrapp-price">
                    <span class="adventure-main__price-title">
                        Стоимость
                    </span>
                    <span class="adventure-main__price-info">
                        от 1000 Р
                    </span>
                    <span class="adventure-main__price-time">
                        за 1 час
                    </span>
                </div>
                <div class="adventure-main__wrapp-info">
                    Грузы до 5 тонн
                </div>
            </div>
            <div class="adventure-main__wrapp-col-2">
                <a class="adventure-main__wrapp-link" href="tel:+78332730103">
                    73-01- <span class="adventure-main__link-span">03</span>
                </a>
                <a class="adventure-main__wrapp-link-2" href="tel:+89229930103">
                    8-922-993-01-03
                </a>
                <div class="adventure-main-text">
                    КРУГЛОСУТОЧНО
                </div>
            </div>
        </div>
        <div class="adventure-main-info">
            <div class="adventure-main__info-time">
                Подача: 20 минут *
            </div>
            <div class="adventure-main__info-place">
                Эвакуатор Киров (город, межгород)
            </div>
        </div>
    </div>
</main>