@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/magnific-popup.scss";

* {
    box-sizing: border-box;
    font-family: "Cambria";
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.body {
    color: #333027;
    font-size: 15px;
    line-height: 1.5;
}

.adventure-container {
    max-width: 935px;
    padding: 0 10px;
    margin: 0 auto;
}

@import "../sass/blocks/header.scss";
@import "../sass/blocks/burger.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/info.scss";
@import "../sass/blocks/avto.scss";
@import "../sass/blocks/service.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/info-order.scss";
@import "../sass/blocks/info-news.scss";
@import "../sass/blocks/info-review.scss";
